
:root{
	--title-font: Georgia, 'Times New Roman', Times, serif;
	--title-font-size: 23px;
	--title-font-weight: 600;
}

html {
	background-color: rgba(0,0,0,0.7);
}

html * {
	color: rgba(255, 255, 255, 0.8);
}



body > div {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

#main > form {
	border-bottom: 1px solid rgba(252, 250, 250, 0.8);
}

#main{
	padding-bottom: 5px;
	padding-top: 5px;
}

/* body{
	padding: 2px;
} */

.chart-title {
	display: flex;
	width: fit-content;
	font-family: var(--title-font);
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	padding: 5px;
}

.query-field{
	border: none;
	outline: none;
	cursor: text;
	height: 90%;
	text-align: center;
	font-family: var(--title-font);
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	background-color: transparent;
}

.query-field:hover{
	background-color: rgb(255,255,255, 0.1);
	border-radius: 4px;
}




.info-container {
	display: flex;
	background-color: transparent;
	border-radius: 4px;
	height: 89vh;
}

img {
	width: 100%;
	height: 200px;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 10px;
}


.article-info{
	height: 100%;
	margin-right: 5px;
	background-color: rgba(255,255,255, 0.1);
	background-color: transparent;
	border-radius: 4px;
	width: 33%;
	/* padding: 10px; */
	border-radius: 4px;
	overflow: hidden;
	box-shadow: black 1px 1px 5px 0px;
}

svg {
	display: flex;
	margin: 0 auto;
	padding-left: 15px;
	padding-left: 15px;
	border-radius: 4px;
	width: 98%;
	box-shadow: black 1px 1px 5px 0px;
}

.article-title {
	padding-bottom: 8px;
}

.article-title-container{
	max-height: 115px;
	overflow: hidden;
}

.flex-row {
	display: flex;
}

.label {
	padding-right: 8px;
	padding-bottom: 8px;
	font-weight: 600;
	font-size: 17px;
	text-decoration: underline;
	color: rgba(255,255,255, 0.7)
}

.info {
	line-height: 175%;
	padding-bottom: 8px;
	margin-top: -4px;
	color: rgba(255,255,255, 0.5);
	font-size: 17px;
}

.article-title{
	font-size: 24px;
}

.debug {
	border: 1px solid red;
}

.articles-container{
	/* overflow-y: scroll;
	overflow-x: hidden; */
	/* height: 40%; */
	display: flex;
	flex-direction: column;
	width: 67%;
}

.article-info-container{
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-transition: fill 0.15s, opacity 0.15s, background-color 1s;
	-moz-transition:    fill 0.15s, opacity 0.15s, background-color 1s;
	-ms-transition:     fill 0.15s, opacity 0.15s, background-color 1s;
	-o-transition:      fill 0.15s, opacity 0.15s, background-color 1s;
	transition:         fill 0.15s, opacity 0.15s, background-color 1s;
	border-radius: 4px;
	padding: 8.5px;
	padding-bottom: 15px;
	/* box-shadow: inset 0 -2px 3px -2px black; */
}

.article-info-container::-webkit-scrollbar {
	width: 6px;
	border-radius: 6px;
}
.article-info-container::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
	height: 1px;
}
.article-info-container::-webkit-scrollbar-track-piece{
    border-radius: 6px;
	background: transparent;
}
.article-info-container::-webkit-scrollbar-thumb{
	background: rgba(104, 104, 104, 0.822);
	border-radius: 6px;
}

.dot{
	cursor: pointer;
}

.dot {
  -webkit-transition: fill 0.15s, opacity 0.15s, background-color 1s;
  -moz-transition:    fill 0.15s, opacity 0.15s, background-color 1s;
  -ms-transition:     fill 0.15s, opacity 0.15s, background-color 1s;
  -o-transition:      fill 0.15s, opacity 0.15s, background-color 1s;
  transition:         fill 0.15s, opacity 0.15s, background-color 1s;
}

footer{
	margin-top: 5px;
	text-align: right;
}

/* .good-label, .bad-label{
	letter-spacing: 0.07em;
	margin-left: -25px;
	padding-right: 15px;
} */


/* path{
	fill: whitesmoke;
} */

.articles-list-container{
	height: 45%;
	margin-top: 5px;
}

#articles-list {
	margin-top: 0px;
	height: 97%;
	overflow-y: scroll;
	padding-top: 0;
	padding-bottom: 10px;
	box-shadow: black 1px 1px 5px 0px;
	border-radius: 4px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 150%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.article-list-item{
	width: 97%;
	/* border: 1px solid red; */
	padding: 8px;
	margin: 8px auto;
	/* background: rgba(255,255,255, 0.1); */
	border-radius: 4px;
	cursor: pointer;
	color: rgba(255,255,255, 0.7);
}

#articles-list::-webkit-scrollbar {
	width: 6px;
	border-radius: 6px;
}
#articles-list::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
	height: 1px;
}
#articles-list::-webkit-scrollbar-track-piece{
    border-radius: 6px;
	background: transparent;
}
#articles-list::-webkit-scrollbar-thumb{
	background: rgba(104, 104, 104, 0.822);
	border-radius: 6px;
}