
:root{
	--title-font: Georgia, 'Times New Roman', Times, serif;
	--title-font-size: 17px;
	--title-font-weight: 600;
}

html {
	background-color: whitesmoke;
}

/* html * {
	border: solid red 1px;
} */

body > svg {
	display: flex;
	/* border: solid green 3px; */
	margin: 0 auto;
}

body > div {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

/* body > * {
	background-color: whitesmoke;
} */


body{
	padding: 25px;
}

.title {
	display: flex;
	width: fit-content;
	font-family: var(--title-font);
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	padding: 5px;
}

.query-field{
	border: none;
	outline: none;
	cursor: text;
	height: 90%;
	text-align: center;
	font-family: var(--title-font);
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	background-color: whitesmoke;
	border-bottom: 1px solid black;
}

.article-info{
	background-color: lightgrey;
}

.info-container {
	display: flex;
}

.article-info{
	width: 300px;
	padding: 20px;
	border-radius: 4px;
}